{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}">
{% endblock %}

{% block 'body' %}
<div class="box">
  <form action="{% url 'register' %}" method="POST">{% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <h1 class="title font-gradient border-bottom-gradient">INSCREVA-SE</h1>

    <br />

    <span class="span-description">Nome de usuário:</span>
    <input type="text" class="form-control input-register" name="username" />

    <br />

    <span class="span-description">Senha:</span>
    <input
      type="password"
      class="form-control input-register"
      name="password"
    />

    <br />

    <span class="span-description">Confirmar senha:</span>
    <input
      type="password"
      class="form-control input-register"
      name="password-confirmation"
    />

    <br />

    <input type="submit" value="CADASTRAR" class="btn btn-success btn-lg" />
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">LOGIN</a>
  </form>
</div>
{% endblock %}