.font-gradient-nav {
  background-image: linear-gradient(
    90deg,
    rgba(255, 207, 0, 1) 0%,
    rgba(231, 71, 220, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-background {
  background-color: #444;
}

.nav-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group {
  display: flex;
}

.modal-background {
  background-color: #333;
}

.inline-display {
  display: inline;
}
